@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  /* background-color: #171717; */
  height: 100vh;
  margin: 0%;
  background-color: #3a3a48;
  background-image: linear-gradient(
      to bottom,
      rgba(58, 58, 72, 0.99) 45%,
      rgba(58, 58, 72, 0.9) 100%
    ),
    url("bg.jpg");
}
